html,
body {
    min-width: 290px;
    color: #ff66de;
    background-color: #00ffc8   ;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}


/*Navigation Bar*/

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 310px;
    height: 100%;
    background-color: #ff66de;
    /*box-shadow: 1px 1px 2px #ff9e00;*/
    padding: 10px;
    
}

.logosal {
    display: flex;
    margin: auto;
    
    border-bottom: 0.2px #7b2cbf solid;
    align-items: center;
}

header {
    color: #000000;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
    border-bottom: 1px solid #ff66de;
}

#main-doc {
    width: 70%;
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

#navbar ul {
    height: 88%;
    padding: 5px;
    overflow-y: auto;   
    overflow-x: hidden;
}

#navbar li {
    color: white;
    text-decoration: none;
    margin-bottom: 30px;
    border-bottom: 0.2px #00ffff solid;
    list-style: none;
    box-shadow: 0px 0px 5px 3px rgba(#ff9e00);
    width: 100%;
}

#navbar li:hover {
    color: #000000;

}

#navbar a {
    font-size: 1.1rem;
    display: block;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-align: start;
}
#navbar a:hover{
    color:black;
}

/* Avatar Login Kısmı */

.profile-photo {
    display: flex;
    width: 20%;
    margin: auto;
    flex-direction: row;
    align-items: center;
    border-radius: 50%;
}


/* Avatar Login Kısmı */

#main-doc {
    position: absolute;
    margin-left: 340px;
    padding: 20px;
    margin-bottom: 110px;
}

section li {
    margin: 15px 0px 0px 20px;
}




@media only screen and (max-width: 815px) {
    #navbar ul {
        height: 197px;
    }
    #navbar {
        position: absolute;
        top: 0;
        background-color: black;
        padding: 0;
        right: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        z-index: 1;
        border-bottom: 1px solid yellow;
    }
    #main-doc {
        position: relative;
        margin-left: 0;
        margin-top: 285px;
    }
}

@media only screen and (max-width:400px) {
    #main-doc {
        margin-left: -10px;
    }
}


/* Anasayfa Dashboard */




.ref-link {
    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

/*TABLO CSS KISMI*/

.activity-card,
  .summery-card,
  .bday-card {
    background-color: #ffffff;
    border-radius: 7px;
  }
  
  .activity-card h3 {
    color: var(--text-gray);
    margin: 1rem;
  }
  
  .activity-card table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .activity-card thead {
    background: #efefef;
    text-align: left;
  }
  
  th,
  td {
    font-size: 0.9rem;
    padding: 1rem 1rem;
    color: var(--color-dark);
  }
  
  td {
    font-size: 0.8rem;
  }
  
  tbody tr:nth-child(even) {
    background: #f9fafc;
  }
  
 
  
  .td-team {
    display: flex;
    align-items: center;
  }
  


    .resim{
          width: 900px;
          height: 500px;


    }

    .resim2 {
      width: 900px;
      height: 500px;
    }





  /*.img-1,
  .img-2,
  .img-3 {
    height: 38px;
    width: 38px;
    border-radius: 38px;
    margin-left: -15px;
    border: solid 3px #efefef;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .img-1 {
    background-image: url(img/hardylutula.jpeg);
  }
  .img-2 {
    background-image: url(img/hardy2.jpeg);
  }
  */

/*TABLO CSS KISMI*/